* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sansserif;
    background-color: #282D35;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 15px 25px;
}

.nav-logo-text, .nav-tittle {
    margin: 0;
}

.nav-logo-text {
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-tittle {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-icon {
    height: 30px;
    margin-right: 10px;
}

main {
    padding: 55px 25px;
    color: white;
}

.main-tittle {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;;
}

.main-list {
    margin-top: 25px;
    max-width: 400px;
}

.main-list > li {
    padding-block: 5px;

}

.main-list > li::marker {
    font-size: 1.3rem;
    color:#61DAFB;
}
